.product-list {
  max-width: 700px;
  margin: 1.5em auto 0;
  padding: 0 1.5em;
}

.product-list article {
  background: #FFF;
  border: .065rem solid #DDD;
  border-radius: 5px;
  padding: 1.3em;
  margin-bottom:  1.5em;
}

.product-list article p {
  font-size: 12pt;
  color: #999;
  margin-top: 5px;
  line-height: 1.5em;
}

.product-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #DA552F;
  background: none;
  margin-top: 20px;
  color: #DA552F;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.product-list article a:hover {
  background: #DA552F;
  color: #FFF;
}

.product-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background: #DA552F;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}

.product-list .actions button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.product-list .actions button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.product-list .actions button[disabled]:hover {
  opacity: 0.5;
}
